<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="footerShop">
	<div class="row text-center text-md-start">
		<div class="col-md-4 mb-4">
			<h5>Về chúng tôi</h5>
			<p>Chuyên cung cấp các loại bánh trung thu chất lượng cao, nguyên
				liệu tự nhiên và an toàn.</p>
		</div>
		<div class="col-md-4 mb-4">
			<h5>Liên hệ</h5>
			<ul class="list-unstyled">
				<li><i class="fas fa-map-marker-alt me-2"></i>123 Đường ABC, Hà
					Nội</li>
				<li><i class="fas fa-phone me-2"></i>0901.234.567</li>
				<li><i class="fas fa-envelope me-2"></i>info@banhtrungthu.com</li>
			</ul>
		</div>
		<div class="col-md-4 mb-4">
			<h5>Mạng xã hội</h5>
			<div
				class="social-icons d-flex justify-content-center justify-content-md-start">
				<a href="#" class="text-white me-3"><i
					class="fab fa-facebook-f fa-lg"></i></a> <a href="#"
					class="text-white me-3"><i class="fab fa-instagram fa-lg"></i></a>
				<a href="#" class="text-white me-3"><i
					class="fab fa-youtube fa-lg"></i></a>
			</div>
		</div>
	</div>
	<hr class="bg-light">
	<div class="text-center">
		<p class="mb-0">© 2025 Bánh Trung Thu J-O-N-E. All rights
			reserved.</p>
	</div>
</div>
</html>