@charset "UTF-8";

.card-img-top {
	height: 220px;
	object-fit: cover;
}



.carousel-caption {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.social-icons a:hover {
	color: #ffc107 !important;
}
.badge-discount {
    font-size: 0.75rem;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
